:root {
    font-size: 16px;
    --colorWhite: #F7F7F7;
    --colorGreen: rgb(20, 188, 125);
    --colorBlack: #191b26;
}

/* global */
body {
    margin: 0;
    font-size: 1rem;
    color: var(--colorBlack);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--colorWhite);
}

.wrapper {
    max-inline-size: 75rem;
    margin-inline: auto;
    padding-inline: 1rem;
}

img {
    vertical-align: middle;
    inline-size: 100%;
}


/* hero */

.hero {
    background-image: image-set(
        url('../img/portada.avif') type('image/avif'),
        url('../img/portada.webp') type('image/webp'),
        url('../img/portada.jpg') type('image/jpg')
        );
        
    background-size: cover;
    background-position: center;
    padding-block: 3.5rem;
}

.hero_content {
    color: var(--colorWhite);
}


/* form */
.input {
    inline-size: 100%;
    padding: 1rem;
    margin-block: .25rem 1rem;
    box-sizing: border-box;
    border-radius: 2.5rem;
    border: none;
    font-size: 1rem;
}

.btn {
    display: block;
    inline-size: 100%;
    max-inline-size: 25rem;
    padding: .625rem;
    border-radius: 1rem;
    border: none;
    background: var(--colorGreen);
    color: var(--colorWhite);
    font-weight: 700;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(5, 131, 85, .5);
    margin-inline: auto;
    box-sizing: border-box;
    text-align: center;
}

.alert {
    color: rgb(215, 5, 5);
    background: rgb(243, 206, 206);
    padding-block: 1rem;
    text-align: center;
}

/* resultados */

main {
    padding-block: 3rem 4rem;
    block-size: min-content;
}

.result.grid {
    column-count: 2;
    columns: 20rem;
    column-gap: .5rem;
}

.imgContainer {
    position: relative;
    margin-block-end: .5rem;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .25rem;
    justify-content: end;

    position: absolute;
    inline-size: 100%;
    block-size: 100%;
    padding: 1rem;
    box-sizing: border-box;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 1;
    background: linear-gradient(to top right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 80%);
    color: var(--colorWhite);

    & p {
        margin: 0;
    }

    & .strong {
        font-weight: 700;
    }
}

.imgContainer .btn {
    position: absolute;
    inset-inline-start: 50%;
    inset-block-start: 50%;
    max-inline-size: 70%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    visibility: hidden;
}

.imgContainer:focus .btn,
.imgContainer:hover .btn{
    visibility: visible;
}


.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    padding-block: 1rem 3rem;
}

.page {
    text-decoration: none;
    color: var(--colorBlack);
    background: var(--colorGreen);
    display: inline-block;
    padding: .25rem .25rem;
    text-align: center;
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 700;
    flex-basis: 2.5rem;
    flex-grow: 0;
    flex-shrink: 0;
}

/* media queries */
@media (width >= 768px) {
    .hero {
        padding: 4.5rem;
    }

    .title {
        text-align: center;
    }
}

@media (width >= 1024px) {
    .hero {
        padding: 6rem;
    }

    .title {
        text-align: center;
    }
}